
body, html {
    padding: 0;
    margin: 0;
  }
  
  .Green-demo {
    background: url(green.jpg);
    background-color:green;
    background-size: 1000px;
    font-size: 30px;
    height: 100vh;
  }

  .index-demo {
    background: url(background1.jpg);
    font-size: 40px;
    font-style: initial;
    height: 100vh;
    font-display: swap;
  }

  .red-demo {
    background: url(RED.jpg);
    background-color:red;
    font-size: 30px;
    height: 100vh;
  }
  
  .tag-demo {
      font-style: italic;
      font-style: bold;
      text-decoration: line-through;
  }

 tr:nth-child(odd) {
    background-color: rgba(27, 28, 32, 0.733);
    color: blanchedalmond;
  }
    
  #borderimg {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border.png) 30 round;
}

  .custom-table {
    border: 3px dashed
    width: 600px;
  }
  
  .custom-table th {
    border: 3px dashed  rgba(27, 28, 32, 0.651);
    font-weight:  lighter;
  }

  .custom-table td {
    border: 3px: dashed  rgb(5, 5, 39);
    font-weight: lighter
  }
  
  .table-foot tr > th {
    color:  rgb(5, 5, 39);
  }

  .italic-and-bold {
    font-style: italic;
    font-weight: bold;
    font-stretch: wider;
  }
