html, body {
    height: 100%;
    min-height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    max-height: 1365px;
    background-size: cover;
    background-image: url('../img/cover.jpg');
    background-position-x: center;
    background-position-y: center;
}

.navigation {
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0px;
    background-color:rgba(0, 0, 0, 0.75);
}

.minilogo {
    width: 100%;
}

.logo {
    max-width: 550px;
    width: 100%;
    margin-left: 200px;
}

@media (min-width: 576px) {
    .content {
        margin-left: 200px;
    }
}

.nav-link {
    color: rgb(248, 194, 77);
}

.nav-link:hover {
 transform: scale(1.1);
 background-color: rgba(255, 255, 255, 0.116);
}

div#rekvizitai {
    height:200px;
}

.swiper-container {
    height: 1000px;
    width: 700px; 
}

.text-big {
    font-size: 16px;
}

.text-indent {
    text-indent: 30px;
}

.active {
    font-weight: bold !important;
    font-size: 24px !important;
}

.img-fluid {
    object-fit: contain;
    height: 900px;
    width: 700px;
}
