html, body {
    height: 100%;
    min-height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    max-height: 1365px;
    background-size: cover;
    background-image: url('../img/cover.jpg');
    background-position-x: center;
    background-position-y: center;
}

.navigation {
    position: fixed;
    width: 200px;
    height: 100%;
    left: 0px;
    background-color:rgba(0, 0, 0, 0.75);
}

.minilogo {
    width: 100%;
}

.logo {
    max-height: 100vh;
}

.nav-link {
    color: rgb(248, 194, 77);
}

.nav-link:hover {
 transform: scale(1.1);
 background-color: rgba(255, 255, 255, 0.116);
}

div#rekvizitai {
    height:200px;
}

.swiper-container {
    height: 300px;
    width: 100%; 
}

.text-big {
    font-size: 16px;
}

.text-indent {
    text-indent: 30px;
}

.active {
    font-weight: bold !important;
    font-size: 20px !important;
}

.gallery-image {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.background-image {
    background-image: url('../img/background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background-color {
    background: rgba(255, 255, 255, 0.75)
}

i.fa-facebook-square::before {
    content: "\f082";
    color: rgb(248, 194, 77);
}

i.fa.fa-3x.fa-instagram::before {
    content: "\f16d";
    color: rgb(248, 194, 77);
    margin-right: 25px;
}

@media (min-width: 576px) {
    .content {
        margin-left: 200px;
    }
    .slide {
        padding-left: 200px;
    }
    .swiper-container {
        height: 600px;
    }
}