/*
 html,
 body {
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
   font-family: 'Raleway', sans-serif;
 }


 @-moz-keyframes spin {
   100% {
     -moz-transform: rotate(360deg);
   }
 }

 @-webkit-keyframes spin {
   100% {
     -webkit-transform: rotate(360deg);
   }
 }

 @keyframes spin {
   100% {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }

 @media screen {
   body {
     background: white;
     font-size: 28px;
   }
 }

 @media print {
   body {
     font-size: 128px;
   }
 }

 .navigation {
   background-color: rgb(85, 78, 52);
   max-width: 200px;
   flex: 1;
 }

 .content {
   flex: 3;
   flex-direction: column;
   display: flex;
   position: sticky;
 }

 .content>div {
   flex: 3;
   flex-direction: column;
   display: flex;
   position: sticky;
   text-align: center;
   font-style: italic;
   text-emphasis: start;
   font-family: serif;
   font-size: 27px;
   background-color: rgb(255, 255, 255);
 }

 .navbar {
   font-size: 25px;
   position: sticky;
   height: 0vh;
   width: 179vh;
   background-color: rgb(205, 208, 214);
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .logo {
   position: absolute;
   display: flex;
   top: 20vh;
   left: 25vh;
 }

 .minilogo {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 150px;
   height: 150px;
   margin: -300px 0 0 -75px;
   -webkit-animation: spin 4s linear infinite;
   -moz-animation: spin 4s linear infinite;
   animation: spin 4s linear infinite;
 }

 .navbar>a {
   width: 100%;
   height: 100%;
   background-color: rgb(120, 149, 156);
   margin: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(99, 137, 143);
 }

 .navigation-links {
   width: 150px;
   height: 280px;
   margin-left: 20px;
   display: flex;
   position: sticky;
   flex-direction: column;
   top: 200px;
   background-color: rgba(255, 255, 255, 0);
   position: fixed;
 }

 .border {
   background-color: black;
 }

 .navigation-links>a {
   width: 100%;
   font-size: 26px;
   font-family: serif;
   height: 100%;
   margin: 12px 0;
   text-align: center;
   color: rgba(255, 255, 255, 0.733);
   border-style: outset;
   border-width: 1.5px;
   border-radius: 10px;
   background: rgba(85, 78, 52, 0.397)
 }

 .container {
   display: flex;
   top: 200vh;
   height: 2000px;
   /* flex-wrap: wrap-reverse; */
  /* justify-content: space-evenly;
   /* flex-wrap: wrap; */
  /* flex-direction: row;
 }

 div[id|=Home] {
   flex: 1;
 }

 div[id|=About] {
   flex: 1;
 }

 div[id|=Galery] {
   flex: 1;
 }

 div[id|=Contacts] {
   flex: 1;
 }

 div .navigation-links>a:hover {
   transform: scale(1.18);
 }

 #About {
   background-color: blue;
   width: 100%;
   display: flex;
 }

 #Galery {
   background-color: red;
   width: 100%;
   display: flex;
 }

 #Contacts {
   background-color: greenyellow;
   width: 100%;
   display: flex;
 }

 #HOME {
   background-color: rgb(255, 255, 255);
   width: 100%;
   display: flex;
   text-align: center;
 }


 /* Extra small devices (phones, 600px and down) */
 /*@media (orientation: landscape) and (max-width: 710px) {
   .container {
     flex-direction: column;
   }

   .header {
     display: flex;
   }


   /* Small devices (portrait tablets and large phones, 600px and up) */
   /*@media only screen and (min-width: 600px) {
     body {
       background-color: green;
     }
   }

   /* Medium devices (landscape tablets, 768px and up) */
  /* @media only screen and (min-width: 768px) {
     body {
       background-color: antiquewhite !important;
     }
   }


   /* Large devices (laptops/desktops, 992px and up) */
  /* @media only screen and (min-width: 992px) {}

   /* Extra large devices (large laptops and desktops, 1200px and up) */
  /* @media only screen and (min-width: 1200px) {}

   @media only screen and (max-width: 480px) {}